.btn-reset {
  padding: 0;
  cursor: pointer;
  background: transparent;
  color: inherit;
  border: none;
}

body {
  width: 100%;
  height: 100%;
  background-image: url('img/background-img.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(171, 61, 207, 0.296);
  font-family: 'Maestroc', sans-serif;
  transition: all .17s ease-in-out;
  overflow: hidden;
}


@font-face {
  font-family: 'Maestroc';
  src: url('fonts/Maestroc.woff2') format('woff2'),
  url('fonts/Maestroc.woff') format('woff');
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.body-style__game-over {
  background-image: url('img/background-img.jpeg');
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  transition: all .17s ease-in-out;
}

.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: hidden;
  justify-content: space-around;
}

.title {
  text-align: center;
  /* margin-bottom: 0.21em;
  padding-top: 0.55em; */
  color: rgb(251, 225, 225);
  font-size: 3.7em;
  text-shadow: 3px 3px 5px rgb(8, 7, 7);
  overflow: hidden;
}

.list-cards {
  margin: 0 auto;
  /* margin-bottom: 100px; */
  padding: 10px;
  display: block;
  max-width: 500px;
  max-height: 500px;
  font-size: 3.8em;
}

.list-cards__item {
  z-index: -30;
  display: inline;
  /* Убираем маркеры */
  list-style: none;
}

.btn-cards {
  z-index: 10;
  display: inline;
  position: relative;
  margin-bottom: 10px;
  width: 110px;
  height: 110px;
  /* line-height: 1em; */
  background-color: rgb(29, 3, 39);
  border: 1.5px solid  rgb(43, 5, 56);
  border-radius: 0px; 
  cursor: pointer;
  color: rgba(251, 225, 225, 0);
  transition: all .17s ease-in-out;
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(1);
  transform: scaleX(-1);
}

.btn-cards:disabled, .btn-cards:disabled:hover {
  cursor: default;
}

.btn-cards:focus {
  outline: none;
  opacity: 0.92;
}

.btn-cards::before {
  z-index: 20;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .15s ease-in-out;
  background-image: url("img/card-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-clip: border-box;
  border: 2px solid rgb(92, 11, 121);
  border-radius: 0px;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.list-cards__item:not(:nth-child(4)) {
  margin-right: 10px;
}

.btn-cards-active {
  z-index: 20;
  background-color: rgb(85, 8, 97);
  border-color: rgb(56, 7, 69);
  color: rgb(251, 225, 225);
  text-shadow: 3px 3px 5px rgb(8, 7, 7);
  border: 2px solid  rgb(43, 5, 56);
  cursor: default;
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.btn-cards.btn-cards-active:hover {
  z-index: 20;
  background-color: rgb(85, 8, 97);
  border-color: rgb(56, 7, 69);
  color: rgb(251, 225, 225);
  text-shadow: 3px 3px 5px rgb(8, 7, 7);
  cursor: default;
}

.btn-cards.btn-cards-active::before {
  z-index: -10;
  opacity: 0;
}

.btn-cards-disabled, .btn-cards.btn-cards-disabled:hover {
  background-color: rgba(45, 10, 111, 0.684);
  border-color: rgb(58, 7, 73);
  color: rgb(251, 225, 225);
  text-shadow: 3px 3px 5px rgb(8, 7, 7);
  opacity: 0.8;
  cursor: default;
}

.btn-cards.btn-cards-disabled::before {
  opacity: 0;
}

.end-screen {
  z-index: 30;
  display: flex;
  position: absolute;
  margin: 0 auto;
  padding: 20px;
  padding-top: 50px;
  flex-direction: column;
  justify-content: space-between;
  width: 317px;
  height: 224px;
  font-size: 3.5em;
  align-items: center;
  background-color: rgba(217, 157, 255, 0.707);
  border: 3.5px ridge #61134793;
  /* transform: translate(114%, -190%); */
  transform: translate(0%, 0%);
  opacity: 1;
  transition: all .14s ease-in-out;
}

.end-screen-hidden {
  transform: translate(114%, -1000%);
  opacity: 0;
}

.end-text {
  margin-bottom: 0.2em;
  text-align: center;
  font-size: 0.65em;
  line-height: 30px;
  text-shadow: 3px 3px 5px rgba(8, 7, 7, 0.363);
  color: rgb(0, 0, 0);
}

.end-button {
  position: relative;
  margin-bottom: 0.75em;
  padding: 20px 30px;
  width: 270px;
  height: 70px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  font-size: 0.74em;
  text-shadow: 3px 3px 5px rgb(8, 7, 7);
  border-radius: 100px;
  background-color: #a73a8b;
  color: #FFFFFF;
  transition: all .14s ease-in-out;
}

.end-button:active:not(:focus-visible) {
  text-decoration: none;
  color: #05ffea;
  text-shadow: 3px 3px 5px rgb(8, 7, 7);
}

.end-button:hover {
  text-decoration: none;
  color: #e9cdff;
  text-shadow: 3px 3px 5px rgb(8, 7, 7);
}

.end-button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 1;
  border-radius: 100px;
  border: 3px solid #611347;
  transition: all .14s ease-in-out;
}

.end-button::after {
  content: '';
  position: absolute;
  top: -4.5px;
  bottom: -4.5px;
  left: -5px;
  right: -5px;
  z-index: 20;
  opacity: 0;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #C283F3;
  transition: all .14s ease-in-out;
}

.end-button:focus {
  outline: none;
}

.end-button:focus-visible::after {
  outline: none;
  opacity: 1;
}

.end-button:hover::before {
  outline: none;
  opacity: 1;
}

.end-button:active:not(:focus-visible) {
  outline: none;
  background-color: #7943A4;
}

.end-button:active:not(:focus-visible)::before {
  outline: none;
  opacity: 1;
}



/* media */
@media (max-width: 1023px) {
  .title {
    font-size: 5em;
  }

  .list-cards {
    max-width: 580px;
    max-height: 580px;
    font-size: 5em;
  }

  .btn-cards {
    width: 130px;
    height: 130px;
    border: 1.5px solid rgb(43, 5, 56);
  }
}

@media (min-width: 895px) and (max-width: 915px) {
  .title {
    display: none;
    font-size: 4em;
  }

  .list-cards {
    max-width: 372px;
    max-height: 372px;
    font-size: 3.5em;
  }

  .list-cards__item:not(:nth-child(4)) {
    margin-right: 8px;
  }

  .btn-cards {
    margin-bottom: 8px;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 844px) and (max-width: 852px) {
  .title {
    display: none;
    font-size: 4em;
  }

  .list-cards {
    max-width: 372px;
    max-height: 372px;
    font-size: 3.5em;
  }

  .list-cards__item:not(:nth-child(4)) {
    margin-right: 8px;
  }

  .btn-cards {
    margin-bottom: 8px;
    width: 80px;
    height: 80px;
  }
}


@media (max-width: 767px) {
  .title {
    font-size: 4em;
  }

  .list-cards {
    max-width: 366px;
    max-height: 366px;
    font-size: 3.3em;
  }

  .list-cards__item:not(:nth-child(4)) {
    margin-right: 8px;
  }

  .btn-cards {
    margin-bottom: 8px;
    width: 78px;
    height: 78px;
  }
}

@media (max-width: 560px) { 
  body {
    background-image: url('img/background-img-mini.jpeg');
  }

  .title {
    font-size: 4.0em;
  }

  .list-cards {
    margin-bottom: 70px;
    padding: 8px;
    max-width: 340px;
    max-height: 340px;
    font-size: 3.2em;
  }

  .list-cards__item:not(:nth-child(4)) {
    margin-right: 6px;
  }
  
  .btn-cards {
    margin-bottom: 6px;
    width: 75px;
    height: 75px;
  } 
}


@media (max-width: 370px) { 
  .title {
    font-size: 3.8em;
  }

  .list-cards {
    max-width: 280px;
    max-height: 280px;
    font-size: 2.4em;
  }
  
  .btn-cards {
    width: 60px;
    height: 60px;
  } 
}
